* {
	box-sizing: border-box;
}

.container {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFAD0;
}

aside {
	margin-left: 1rem;
}

.game-board {
}

#game-canvas {
	/* height: 100%; */
}